body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("img/predio-tombado-de-1940-em-sao-paulo-recebe-novo-restaurante-italiano_5.webp")no-repeat;
    background-size: cover;
}

header {
    background-color: #ff6347; /* Cor de fundo */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

h2 {
    color: #ff6347;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}
